{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> GPIO 설정</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/registerGPIOSetting">GPIO 설정</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>GPIO 설정 리스트</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="card-block table-border-style">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>device</th>
                                                <th>INPIN</th>
                                                <th>OUTPUT1</th>
                                                <th>OUTPUT2</th>
                                                <th>OUTPUT3</th>
                                                <th>OUTPUT4</th>
                                                <th>OUTPUT5</th>
                                                <th>OUTPUT6</th>
                                                <th>OUTPUT7</th> 
                                                <th>TTS</th>
                                                <th>RTSP</th>
                                                <th>File</th>                                                   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for setting in gpioSettingList %}
                                                <tr>
                                                    <th scope="row">{{setting.device}}</th>
                                                    <td>{{setting.INPIN}}</td>
                                                    <td>{{setting.OUTPUT1}}</td>
                                                    <td>{{setting.OUTPUT2}}</td>
                                                    <td>{{setting.OUTPUT3}}</td>
                                                    <td>{{setting.OUTPUT4}}</td>
                                                    <td>{{setting.OUTPUT5}}</td>
                                                    <td>{{setting.OUTPUT6}}</td>
                                                    <td>{{setting.OUTPUT7}}</td>
                                                    <td>{{setting.TTS}}</td>
                                                    <td>{{setting.RTSP}}</td>
                                                    <td>{{setting.File}}</td>
                                                    <td>
                                                        <a href="/GPIOSetting/{{setting.id}}/remove" class="label theme-bg text-white f-12">삭제</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    {{ gpioSettingList.as_table}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Hover-table ] start -->
                    <form  method="post", class="post-form my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>GPIO 1</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="File" name="File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>                                      
                                    <button type="submit" class="save btn btn-default">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
