{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> GPIO 설정</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/GPIOSetting/">GPIO 설정</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>GPIO 설정 리스트</h5>
                            </div>
                            {% for device in deviceList %}
                            <form action="http://{{device.id}}:8080/GPIOSetting" method="POST">
                                <button class="btn btn-primary"  name="device" value="{{device.ip}}">{{device.name}}</button>
                            </form>
                            {% endfor %}
                            <div class="card-block table-border-style">
                                <div class="card-block table-border-style">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>INPIN</th>
                                                <th>OUTPUT</th>
                                                <th>TTS</th>
                                                <th>RTSP</th>
                                                <th>File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for setting in gpioSettingList %}
                                                <tr>
                                                    <td>{{setting.IN}}</td>
                                                    <td>{{setting.OUT}}</td>
                                                    <td>{{setting.TTS}}</td>
                                                    <td>{{setting.RTSP}}</td>
                                                    <td>{{setting.File}}</td>
                                                    <td>
                                                        <a href="/GPIOSetting/{{setting.id}}/run" class="label theme-bg text-white f-12">테스트</a>
                                                    </td>
                                                    <td>
                                                        <a href="/GPIOSetting/{{setting.id}}/remove" class="label theme-bg text-white f-12">삭제</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Hover-table ] start -->
                    <form action="send" method="post", class="post-form my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>설정할 장치</h5>
                            </div>
                            <div class="card-block table-border-style">
                                {% for device in deviceList %}
                                <input type="checkbox" name="device" value="{{device.id}}"> {{device.name}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="1">
                                <h5>GPIO 1</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="1/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="1/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="1/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="File" name="1/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="2">
                                <h5>GPIO 2</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="2/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="2/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="2/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="2/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="3">
                                <h5>GPIO 3</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="3/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="3/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="3/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="3/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="4">
                                <h5>GPIO 4</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="4/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="4/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="4/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="4/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="5">
                                <h5>GPIO 5</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="5/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="5/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="5/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="5/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="6">
                                <h5>GPIO 6</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="6/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="6/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="6/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="6/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <input type="checkbox" name="INPIN" value="7">
                                <h5>GPIO 7</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    <div class="btn-group col-xs-12" >
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="1">OUTPIN1
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="2">OUTPIN2
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="3">OUTPIN3
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="4">OUTPIN4
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="5">OUTPIN5
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="6">OUTPIN6
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="7/OUTPIN" value="7">OUTPIN7
                                        </label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">TTS</span>
                                        </div>
                                        <input type="text" class="form-control" name="7/TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">RTSP</span>
                                        </div>
                                        <input type="text" class="form-control" name="7/RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">File</span>
                                        </div>
                                        <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="7/File">
                                        <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="save btn btn-default">저장</button>
                    </div>
                    </form>

                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
