{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
$('input[type="checkbox"]').on('change', function(e){
    if($(this).prop('checked'))
    {
        $(this).next().val(1);
    } else {
        $(this).next().val(0);
    }
});
</script>
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        <form action="/registerDevice" method="post", class="post-form my-3">
                            {% csrf_token %}
                            <div class="col-xl-8 col-md-12 m-b-30">
                                <div class="card deviceRegister">
                                    <div class="card-block">
                                        <h6 class="card-title"> 장치 등록</h6>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">장치이름</span>
                                            </div>
                                            <input type="text" class="form-control" id="newDeviceName" name="deviceName">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">장치IP</span>
                                            </div>
                                            <input type="text" class="form-control" id="newDeviceIP"name="deviceIP">
                                        </div>
                                        <button type="submit" class="save btn btn-default">추가</button>
                                    </div>
                                </div>
                                <div class="alert alert-primary" role="alert">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {{ message.tags }}
                                            {{ message.message }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Recent Users</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>deviceName</th>
                                                    <th>deviceIP</th>
                                                    <th>macAddress</th>                                                 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for device in deviceList %}
                                                <tr class="unread">
                                                    <td>
                                                        {{device.name}}
                                                    </td>
                                                    <td>
                                                        {{device.ip}}
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ device.macAddress}}</h6>
                                                    </td>
                                                    <td>
                                                        <a href="/registerGPIOSetting" class="label theme-bg2 text-white f-12">GPIOSetting</a>
                                                        <a href="/registerSchedule" class="label theme-bg text-white f-12">registerSchedule</a>
                                                        <a href="/Rboard/{{device.id}}/remove" class="label theme-bg text-white f-12">삭제</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>스케줄 설정리스트</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="card-block table-border-style">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>device</th>
                                                    <th>day</th>
                                                    <th>startTime</th>
                                                    <th>endTime</th>
                                                    <th>OUTPUT1</th>
                                                    <th>OUTPUT2</th>
                                                    <th>OUTPUT3</th>
                                                    <th>OUTPUT4</th>
                                                    <th>OUTPUT5</th>
                                                    <th>OUTPUT6</th>
                                                    <th>OUTPUT7</th> 
                                                    <th>TTS</th>
                                                    <th>RTSP</th>
                                                    <th>File</th>                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for setting in scheduleList %}
                                                    <tr>
                                                        <th scope="row">{{setting.device}}</th>
                                                        <td>{{setting.day}}</td>
                                                        <td>{{setting.startTime}}</td>
                                                        <td>{{setting.endTime}}</td>
                                                        <td>{{setting.OUTPUT1}}</td>
                                                        <td>{{setting.OUTPUT2}}</td>
                                                        <td>{{setting.OUTPUT3}}</td>
                                                        <td>{{setting.OUTPUT4}}</td>
                                                        <td>{{setting.OUTPUT5}}</td>
                                                        <td>{{setting.OUTPUT6}}</td>
                                                        <td>{{setting.OUTPUT7}}</td>
                                                        <td>{{setting.TTS}}</td>
                                                        <td>{{setting.RTSP}}</td>
                                                        <td>{{setting.File}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {{ gpioSettingList.as_table}}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- [ rating list ] end-->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>GPIO 설정 리스트</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="card-block table-border-style">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>device</th>
                                                    <th>INPIN</th>
                                                    <th>OUTPUT1</th>
                                                    <th>OUTPUT2</th>
                                                    <th>OUTPUT3</th>
                                                    <th>OUTPUT4</th>
                                                    <th>OUTPUT5</th>
                                                    <th>OUTPUT6</th>
                                                    <th>OUTPUT7</th> 
                                                    <th>TTS</th>
                                                    <th>RTSP</th>
                                                    <th>File</th>                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for setting in gpioSettingList %}
                                                    <tr>
                                                        <th scope="row">{{setting.device}}</th>
                                                        <td>{{setting.INPIN}}</td>
                                                        <td>{{setting.OUTPUT1}}</td>
                                                        <td>{{setting.OUTPUT2}}</td>
                                                        <td>{{setting.OUTPUT3}}</td>
                                                        <td>{{setting.OUTPUT4}}</td>
                                                        <td>{{setting.OUTPUT5}}</td>
                                                        <td>{{setting.OUTPUT6}}</td>
                                                        <td>{{setting.OUTPUT7}}</td>
                                                        <td>{{setting.TTS}}</td>
                                                        <td>{{setting.RTSP}}</td>
                                                        <td>{{setting.File}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        {{ gpioSettingList.as_table}}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                    <!-- [ Main Content ] end -->
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
