{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">스케줄 설정</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/registerSchedule">registerSchedule</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>스케줄 설정리스트</h5>
                            </div>
                            {% for device in deviceList %}
                            <form action="http://{{device.ip}}:8080/Schedule/" method="POST">
                            <button class="btn btn-primary"  name="device" value="{{device.ip}}">{{device.name}}</button>
                            </form>
                            {% endfor %}
                            <div class="card-block table-border-style">
                                <div class="card-block table-border-style">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>day</th>
                                                <th>startTime</th>
                                                <th>endTime</th>
                                                <th>INPIN</th>
                                                <th>OUTPUT</th>
                                                <th>TTS</th>
                                                <th>RTSP</th>
                                                <th>File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for setting in scheduleList %}
                                                <tr>
                                                    <td>{{setting.day}}</td>
                                                    <td>{{setting.startTime}}</td>
                                                    <td>{{setting.endTime}}</td>
                                                    <td>{{setting.IN}}</td>
                                                    <td>{{setting.OUT}}</td>
                                                    <td>{{setting.TTS}}</td>
                                                    <td>{{setting.RTSP}}</td>
                                                    <td>{{setting.File}}</td>
                                                    <td>
                                                        <a href="/Schedule/{{setting.id}}/chime/run" class="label theme-bg text-white f-12">테스트</a>
                                                    </td>
                                                    <td>
                                                        <a href="/Schedule/{{setting.id}}/remove" class="label theme-bg text-white f-12">삭제</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Hover-table ] start -->
                    <form action="Schedule/send" method="post", class="post-form my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>스케줄 설정</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    {% for device in deviceList %}
                                        <input type="checkbox" name="device" value="{{device.id}}"> {{device.name}}
                                    {% endfor %}
                                    <div class="form-check">
                                        <div class="btn-group col-xs-12" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="0">월요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="1">화요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="2">수요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="3">목요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="4">금요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="5">토요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="6">일요일
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="day" value="7">매일
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input name="startTime" type="time" >
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input name="endTime" type="time" >
                                            </label>
                                        </div>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary ">
                                              <input type="radio" name="INPIN"  value ="1" autocomplete="off" > INPIN1
                                            </label>
                                            <label class="btn btn-secondary">
                                              <input type="radio" name="INPIN"  value="2" autocomplete="off"> INPIN2
                                            </label>
                                            <label class="btn btn-secondary">
                                              <input type="radio" name="INPIN"  value="3" autocomplete="off"> INPIN3
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="INPIN"  value="4" autocomplete="off"> INPIN4
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="INPIN"  value="5" autocomplete="off"> INPIN5
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="INPIN" value='6' autocomplete="off"> INPIN6
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="INPIN"  value='7' autocomplete="off"> INPIN7
                                            </label>
                                        </div>
                                        <div class="btn-group col-xs-12" >
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="1">OUTPIN1
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="2">OUTPIN2
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="3">OUTPIN3
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="4">OUTPIN4
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="5">OUTPIN5
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="6">OUTPIN6
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="OUTPIN" value="7">OUTPIN7
                                            </label>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">TTS</span>
                                            </div>
                                            <input type="text" class="form-control" name="TTS" placeholder="TTS" aria-label="TTS" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">RTSP</span>
                                            </div>
                                            <input type="text" class="form-control" name="RTSP" placeholder="RTSP" aria-label="RTSP" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">File</span>
                                            </div>
                                            <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="File" name="File">
                                            <label class="custom-file-label" for="inputGroupFile01">파일 선택</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="save btn btn-default">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
