{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">스케줄 설정</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/registerSchedule">registerSchedule</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>스케줄 설정리스트</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="card-block table-border-style">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>device</th>
                                                <th>day</th>
                                                <th>startTime</th>
                                                <th>endTime</th>
                                                <th>OUTPUT1</th>
                                                <th>OUTPUT2</th>
                                                <th>OUTPUT3</th>
                                                <th>OUTPUT4</th>
                                                <th>OUTPUT5</th>
                                                <th>OUTPUT6</th>
                                                <th>OUTPUT7</th> 
                                                <th>TTS</th>
                                                <th>RTSP</th>
                                                <th>File</th>                                                   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for setting in scheduleList %}
                                                <tr>
                                                    <th scope="row">{{setting.device}}</th>
                                                    <td>{{setting.day}}</td>
                                                    <td>{{setting.startTime}}</td>
                                                    <td>{{setting.endTime}}</td>
                                                    <td>{{setting.OUTPUT1}}</td>
                                                    <td>{{setting.OUTPUT2}}</td>
                                                    <td>{{setting.OUTPUT3}}</td>
                                                    <td>{{setting.OUTPUT4}}</td>
                                                    <td>{{setting.OUTPUT5}}</td>
                                                    <td>{{setting.OUTPUT6}}</td>
                                                    <td>{{setting.OUTPUT7}}</td>
                                                    <td>{{setting.TTS}}</td>
                                                    <td>{{setting.RTSP}}</td>
                                                    <td>{{setting.File}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    {{ gpioSettingList.as_table}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Hover-table ] start -->
                    <form  method="post", class="post-form my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>스케줄 설정</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="form-check">
                                    {{scheduleForm.as_p}}
                                    <button type="submit" class="save btn btn-default">추가</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
