{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var IN = new Array();
    var OUT = new Array();
    var GPIO_OUT = "";
    var category = "";
    $('#broadcast').click(function(event){

    });

    $('#publish').click(function(event) {
      var topic = [];
      var GPIO_OUT = "";
 
      $("input[name='IN[]']:checked").each(function() {
        var IN_m = $(this).val();
        IN.push(IN_m);
      });

      if(IN.length < 1){
        console.log("Please check INPUT GPIO!");  
      }
      else{
        console.log("")
      }

      $("input[name='OUT[]']:checked").each(function() {
        var OUT_m = $(this).val();
        OUT.push(OUT_m);
      });
      $("input[name='broadcast']:checked").each(function() {
        var OUT_m = $(this).val();
        OUT.push(OUT_m);
      });


      if(OUT.length < 1){
          console.log("Please check INPUT GPIO!");  
          return 1;
      }

      for(var i = 0; i < OUT.length; i++){
        GPIO_OUT = OUT.join();
      }

      for(var i = 0; i < IN.length; i++){
        topic.push("Broadcast" + "/" + IN[i]);
        var data = '{"topic": "' + topic[i] + ' GPIO: '+ GPIO_OUT + ' data: ' + data + '}';
        socket.emit('publish', data=data);
      }

    });

    socket.on('mqtt_message', function(data) {
      console.log(data);
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Flask-MQTT Example</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publish MQTT Message</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="col">
                  <input  type="checkbox" id="IN" name="IN[]" class="form-check-input" value="1" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 1
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="2" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 2
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="3" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 3
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="4" data-target="GPIO-IN">
                  <label id="GPIO" class="form-check-label" for="flexCheckDefault">
                  GPIO 4
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="5" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 5
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="6" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 6
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="7" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 7
                  </label>
                  <input type="checkbox" id="IN" name="IN[]" class="form-check-input" value="8" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 8
                  </label>
                </div>
                <div class="col">
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="1" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-1
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="2" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-2
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="3" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-3
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="4" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-4
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="5" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-5
                  </label>
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="6" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-6
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="7" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-7
                  </label>
              
                  <input type="checkbox"  id="OUT" name="OUT[]"  class="form-check-input" value="8" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-8
                  </label>
                </div>
                
                <input type="button" id=broadcast name=broadcast class="btn btn-info" value="text" data-toggle="collapse" data-target="#broadcast_text">메시지내용 </button>
                <input type="button" id=broadcast name=broadcast class="btn btn-info" value="text" data-toggle="collapse" data-target="#broadcast_text">RTSP </button>
                <input type="button" id=broadcast name=broadcast class="btn btn-info" value="file" data-toggle="collapse" data-target="#broadcast_file">음원파일설정</button>
            
                <div id="broadcast_text" class="collapse">
                  <textarea id="text" class="form-control" id="BroadcastText" rows="5"></textarea>
                  <button id="publish" class="btn btn-primary" data-target="#layerpop" data-toggle="modal" type="submit">활성화</button>
                </div>
                <div id="broadcast_file" class="collapse">
                  <input type="file" class="form-control-file" id="BroadcastFile" accept=".jpg,.jpeg,.mp3,.avi,.mp4">
                  <button id="publish" class="btn btn-primary" data-target="#layerpop" data-toggle="modal" type="submit">활성화</button>
                </div>
            
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
