{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="static/js/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var IN = new Array();
    var OUT = new Array();
    var GPIO_OUT;
    var GPIO_IN;
    var category = "";
    var mqtt_data = null;
    var qos = 1;
    $("#BroadcastText").hide();
    $("#BroadcastFile").hide();
    $("#publish").hide();
    $('#message').click(function(event) {
      category = "message";
      $("#BroadcastText").show(); 
      $("#BroadcastFile").hide();
      $("#publish").show();
    });
    $('#RTSP').click(function(event) {
      category = "rtsp";
      $("#BroadcastText").show();
      $("#BroadcastFile").hide();
      $("#publish").show();
    });

    $('#file').click(function(event) {
      category = "file"; 
      console.log("broadcast file");
      $("#BroadcastText").hide();
      $("#BroadcastFile").show();
      $("#publish").show();
    });

    function getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    }
    
    $('#publish').click(function(event) {
      var topic = [];
      var GPIO_OUT = "";
 
      $("input[name='IN[]']:checked").each(function() {
        var IN_m = $(this).val();
        IN.push(IN_m);
      });

      if(IN.length < 1){
        console.log("Please check INPUT GPIO!");  
      }
      else{
        console.log("IN_GPIO is open! " + IN.join("-"));
      }

      $("input[name='OUT[]']:checked").each(function() {
        var OUT_m = $(this).val();
        OUT.push(OUT_m);
      });

      if(OUT.length < 1){
          console.log("Please check INPUT GPIO!");  
          return 1;
      }
      else{
        console.log("GPIO_OUT is open! " + OUT.join("-"));
      }

      switch(category){
        case "message":
          mqtt_data = $("textarea#BroadcastText").val()
          console.log("sending data is " + mqtt_data );
          break;
        case "rtsp":
          mqtt_data = $("textarea#BroadcastText").val()
          console.log("sending data is " + mqtt_data );
          break;
        case "file":
          var fileInput = $('#BroadcastFile').files;
          console.log(fileInput);
          var reader = new FileReader();
          reader.readAsBinaryString(file);
          mqtt_data = reader.result;
          break;
      }
      for(var i = 0; i < IN.length; i++){
        for(var j = 0; j < OUT.length; j++){
          topic.push("Broadcast" + "/" + IN[i] + "/" + OUT[j]);
          var data = '{"topic": "' + topic[j] + '","data": "' + mqtt_data + '", "qos": ' + qos +'}';
          console.log(data);
          socket.emit('publish', data=data);
        }
      }
      IN = new Array();
      OUT = new Array();
      GPIO_OUT = "";
      GPIO_IN = "";
    });
    socket.on('mqtt_message', function(data) {
      console.log(data);
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Flask-MQTT Example</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publish MQTT Message</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="col">
                  <input  type="checkbox" id="IN1" name="IN[]" class="form-check-input" value="1" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 1
                  </label>
                  <input type="checkbox" id="IN2" name="IN[]" class="form-check-input" value="2" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 2
                  </label>
                  <input type="checkbox" id="IN3" name="IN[]" class="form-check-input" value="3" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 3
                  </label>
                  <input type="checkbox" id="IN4" name="IN[]" class="form-check-input" value="4" data-target="GPIO-IN">
                  <label id="GPIO" class="form-check-label" for="flexCheckDefault">
                  GPIO 4
                  </label>
                  <input type="checkbox" id="IN5" name="IN[]" class="form-check-input" value="5" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 5
                  </label>
                  <input type="checkbox" id="IN6" name="IN[]" class="form-check-input" value="6" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 6
                  </label>
                  <input type="checkbox" id="IN7" name="IN[]" class="form-check-input" value="7" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 7
                  </label>
                  <input type="checkbox" id="IN8" name="IN[]" class="form-check-input" value="8" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 8
                  </label>
                </div>
                <div class="col">
                  <input type="checkbox" id="OUT1" name="OUT[]"  class="form-check-input" value="1" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-1
                  </label>
              
                  <input type="checkbox"  id="OUT2" name="OUT[]"  class="form-check-input" value="2" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-2
                  </label>
              
                  <input type="checkbox"  id="OUT3" name="OUT[]"  class="form-check-input" value="3" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-3
                  </label>
              
                  <input type="checkbox"  id="OUT4" name="OUT[]"  class="form-check-input" value="4" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-4
                  </label>
              
                  <input type="checkbox"  id="OUT5" name="OUT[]"  class="form-check-input" value="5" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-5
                  </label>
                  <input type="checkbox"  id="OUT6" name="OUT[]"  class="form-check-input" value="6" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-6
                  </label>
              
                  <input type="checkbox"  id="OUT7" name="OUT[]"  class="form-check-input" value="7" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-7
                  </label>
              
                  <input type="checkbox"  id="OUT8" name="OUT[]"  class="form-check-input" value="8" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-8
                  </label>
                </div>


                <input type="button" id="message" name="broadcast" class="btn btn-info" value="message" data-toggle="collapse" data-target="#broadcast_text">메시지내용 </button>
                <input type="button" id="RTSP" name="broadcast" class="btn btn-info" value="rtsp" data-toggle="collapse" data-target="#broadcast_text">RTSP </button>
                <input type="button" id="file" name="broadcast" class="btn btn-info" value="file" data-toggle="collapse" data-target="#broadcast_file">음원파일설정</button>
            
                <textarea id="BroadcastText" name="BroadcastText" class="form-control" rows="5" ></textarea>
                <input type="file" id="BroadcastFile" name="BroadcastFile" class="form-control-file"  accept=".jpg,.jpeg,.mp3,.avi,.mp4" >
                <button id="publish" class="btn btn-primary" data-target="#layerpop" data-toggle="modal" type="submit" >활성화</button>

                  
            
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}