{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var IN_1, IN_2, IN_3, IN_4, IN_5, IN_6, IN_7, IN_8;
    var OUT_1, OUT_2, OUT_3, OUT_4, OUT_5, OUT_6, OUT_7, OUT_8;
    var GPIO_IN,GPIO_OUT = "";

    
    $('#publish').click(function(event) {
      var topic = "Action";
      var message = $('#message').val();
      var qos = 1;
      var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
      socket.emit('publish', data=data);
    });

    $('#subscribe').click(function(event) {
      var topic = "Action";
      var qos = 1;
      var data = '{"topic": "' + topic + '", "qos": ' + qos + '}';
      socket.emit('subscribe', data=data);
      $('#subscribe').hide();
      $('#unsubscribe').show();
      $('#subscribe_topic').prop('readonly', true);
    });

    $('#unsubscribe').click(function(event) {
      socket.emit('unsubscribe_all');
      $('#subscribe').show();
      $('#unsubscribe').hide();
      $('#subscribe_topic').prop('readonly', false);
    });

    socket.on('mqtt_message', function(data) {
      console.log(data);
      var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
      var $textarea = $('#subscribe_messages');
      $textarea.val($textarea.val() + text + '\n');
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Flask-MQTT Example</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publish MQTT Message</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="col">
                  <input class="form-check-input" type="checkbox" value="1" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 1
                  </label>
                  <input class="form-check-input" type="checkbox" value="2" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 2
                  </label>
                  <input class="form-check-input" type="checkbox" value="3" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 3
                  </label>
                  <input class="form-check-input" type="checkbox" value="4" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 4
                  </label>
                  <input class="form-check-input" type="checkbox" value="5" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 5
                  </label>
                  <input class="form-check-input" type="checkbox" value="6" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 6
                  </label>
                  <input class="form-check-input" type="checkbox" value="7" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 7
                  </label>
                  <input class="form-check-input" type="checkbox" value="8" data-target="GPIO-IN">
                  <label class="form-check-label" for="flexCheckDefault">
                  GPIO 8
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="checkbox" value="1" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-1
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="2" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-2
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="3" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-3
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="4" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-4
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="5" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-5
                  </label>
                  <input class="form-check-input" type="checkbox" value="6" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-6
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="7" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-7
                  </label>
              
                  <input class="form-check-input" type="checkbox" value="8" data-target="GPIO-OUT">
                  <label class="form-check-label" for="flexCheckDefault">
                  OUT-8
                  </label>
                </div>
                
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#broadcast_text">메시지내용 </button>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#broadcast_text">RTSP </button>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#broadcast_file">음원파일설정</button>
            
                <div id="broadcast_text" class="collapse">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                  <button class="btn btn-primary" data-target="#layerpop" data-toggle="modal" type="submit">활성화</button>
                </div>
                <div id="broadcast_file" class="collapse">
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  <button class="btn btn-primary" data-target="#layerpop" data-toggle="modal" type="submit">활성화</button>
                </div>
            
                
                <div class="form-group">
                  <label class="control-label col-xs-4">Message: </label>
                  <div class="col-xs-8">
                    <input id="message" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-4">Qos: </label>
                  <div class="col-xs-8">
                    <select id="qos" class="form-control">
                      <option value=0>0</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                    </select>
                  </div> 
                </div>
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="publish" class="btn btn-primary">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Subscribe MQTT Messages</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-xs-4">Qos: </label>
                  <div class="col-xs-8">
                    <select id="subscribe_qos" class="form-control">
                      <option value=0>0</option>
                      <option value=1>1</option>
                      <option value=2>2</option>
                    </select>
                  </div> 
                </div>
                <div class="form-group">
                  <div class="col-xs-8 col-xs-offset-4">
                    <button id="subscribe" class="btn btn-primary">Subscribe</button>
                    <button id="unsubscribe" class="btn btn-default" style="display: none;" >Unsubscribe</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-4">Messages:</label>
                  <div class="col-xs-8">
                    <textarea id="subscribe_messages" class="form-control" rows=10></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
