<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <script language=javascript>
    function checkOnlyOne_day(element) {
      const checkboxes 
          = document.getElementsByName("DAY");
      checkboxes.forEach((cb) => {
        cb.checked = false;
      })
      element.checked = true;
    }
  </script>
  <head>
    <title>pyftp</title>
  </head>

  <body>
    <center><h1>Upload Page</h1></center>
    <center><a href="/">홈페이지</a><br><center>
    <hr width="100%" color="black"/>
    <center><h3>Upload File!</h3></center>
    <hr width="100%" color="black"/>

    <img src="{{ url_for('static',filename='images/upload.png') }}", width="100" 
        style="margin-left: auto; margin-right: auto; display: block;")/>

    <br><br>
    <center>
    <form action = "http://localhost:5000/192.168.0.12/scheduleUpload" method = "POST"
         enctype = "multipart/form-data">
	  <input type="date" id="start" name="trip-start">
	  <input type="time" name="TIME" id="appt" required>
      <div class="col">
        <input class="form-check-input" name="DAY" type="checkbox" value="mon" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        월
        </label>

        <input class="form-check-input" name="DAY" type="checkbox" value="tue" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        화
        </label>

        <input class="form-check-input" name="DAY" type="checkbox" value="wen" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        수
        </label>

        <input class="form-check-input" name="DAY" type="checkbox" value="thu" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        목
        </label>

        <input class="form-check-input" name="DAY" type="checkbox" value="fri" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        금
        </label>
        <input class="form-check-input" name="DAY" type="checkbox" value="sat" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        토
        </label>

        <input class="form-check-input" name="DAY" type="checkbox" value="sun" onclick='checkOnlyOne_OUT(this)' data-target="GPIO-OUT">
        <label class="form-check-label" for="flexCheckDefault">
        일
        </label>
      </div>
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </form>
  </center>

</html>
